
@{
    ViewBag.Title = "Refill";
    Layout = "~/Views/Partials/Layout.cshtml";
}

<center><h5 style="padding: 10px">Reabastecer medicamentos</h5></center>
<div>
    <form class="form" id="btreeform" action=@Url.Action("RegisterEmployee") method="post">
        <input type="number" class="textbox" name="order" min="0" max="2147483647" placeholder="Fármacos" required />
        <input type="submit" class="button-primary btn" name="Enter" value="Reabastecer" />
    </form>
</div>
