
@{
    ViewBag.Title = "LoadData";
    Layout = "~/Views/Partial/Layout.cshtml";
}

   
    <form class="form" id="btreeform" action=@Url.Action("LoadData") method="post" enctype="multipart/form-data">
        <div>
            <input type="file" class="textbox" name="csvFile" id="csvFile" accept=".csv" required />
            <input type="checkbox" name="csvType" value="Format" /> Cargar el formato del álbum
            <input type="checkbox" name="csvType" value="State" /> Cargar el estado de nuestro álbum<br>
            <input type="submit" class="button-primary btn" name="Enter" value="Cargar el formato del álbum" />
        </div>      
     
    </form>

